<footer class="py-3 my-4">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item" style="padding-left: 30px; padding-right: 30px">
        <a
          href="https://womakerscode.org/"
          target="_blank"
          class="nav-link px-2 text-muted"
        >
          WoMakersCode
        </a>
      </li>
      <li class="nav-item" style="padding-left: 30px; padding-right: 30px">
        <a
          href="https://rickandmortyapi.com/"
          target="_blank"
          class="nav-link px-2 text-muted"
        >
          The Rick and Morty API
        </a>
      </li>
    </ul>
    <p class="text-center text-muted">
      <a
        href="https://github.com/aparecraft/ExerciciosPython_SquadAmeenahGuribFakim/tree/main/ExercicioAPIs_SquadAmeenahGuribFakim"
        target="_blank"
        class="nav-link px-2 text-muted"
        >© Squad Ameenah Gurib-Fakim</a
      >
      - 2024 - All rights reserved -
    </p>
  </div>
</footer>
