<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="https://rickandmortyapi.com/favicon-32x32.png?v=1538abef51e33ef514e8fe1ab9aeab4e"
      type="image/png"
    />

    <title>The Rick and Morty API Project</title>
    <style>
      .full-page {
        height: 100vh;
      }
      .image-container {
        text-align: center;
        padding-bottom: 20px;
      }
    </style>
  </head>
  <body class="full-page">
    <main class="container">
      {%include "nav.html" %}
      <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="image-container">
          <img
            src="https://github.com/quasiEvil/ProjetoFinal_SquadAmeenahGuribFakim/assets/140989367/e40d9ab2-adfb-465e-9f56-081d8f7cc37f"
            alt="Rick and Morty"
            width="100%"
          />
        </div>
      </div>
      {%include "footer.html" %}
    </main>
  </body>
</html>
